// body {
//    width: 100dvw;
// }
.DBHeaderContainer {
   display: flex;
   flex-direction: row;
   // justify-content: space-between;
   align-items: flex-end;
   position: relative;
}

.DBContainer {
   display: flex !important;
   flex-direction: row !important;
   justify-content: space-between !important;
}

.imageElement {
   position: absolute;
   width: 25dvw;
   //top: 0;
   right: 3dvw;   
}

.textElement {
   background-color: #9698d6;
   padding: 4dvw;
   padding-right: 25dvw;
   border-radius: 3dvw;
   color: #fff;

}

