.DBNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    background-color: #fff;
    padding-right: 3dvw;
    padding-top: 3dvw;
}

.DBUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-bottom: 1.5px solid #E0E0E0;
    padding-left: 3dvw;

    &h3 {
        font-weight: 600;
        text-wrap: wrap;
    }
}

.userImage {
    border-radius: 50%;
    width: 8dvw;
}

.DBMenu {
    padding-left: 3dvw;
}

.DBNavButton {
    background-color: transparent;
    border: none;
}

.DBNavButton:hover {
    color: #9698D6;
}

.imgMenu {
    width: 20px;
}

.DBNavElement {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
}

.DBLogout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1.5px solid #E0E0E0;
    padding-top: 3dvw;
    padding-left: 3dvw;
    padding-bottom: 3dvw;

    & .DBNavButton {
        color: #9698D6;
        font-weight: 250;
    }
}

.userImageLogout {
    border-radius: 50%;
    width: 4dvw;
}