@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #F5F5FB;
    font-family: Inter;
    font-weight: 200;
    width: 100%;
}

.dashboard-main-container {
    // margin: 2dvw;
    padding: 2dvw;
    flex-grow: 1;
    display: block;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 80%;
    
}

.stats, .LastInvoices, .LastContacts, .LastCompanies, .invoices, .companies, .contacts {
    background-color: #fff;
    border-radius: 1dvw;
    padding: 2dvw;
    margin-bottom: 3dvw;

    & h3 {
        margin: 0.5dvw;
        margin-top: 0;
        border-bottom: 2px solid #E0E0E0;
    }

    & th {
        padding-right: 1.5dvw;
        font-size: 0.8rem;
        text-align: left;
    }
    
    & td {
        font-size: 0.7rem;
        padding-right: 1.5dvw;
        font-weight: 300;
}
}

.stats, .LastInvoices {
    
}

.stats {
    height: fit-content;
}

.sections {
    display: flex;
    justify-content: space-between;
    gap: 3dvw;
    padding: 0;
    width: 100%;
}
.sections-fragment{
    display: flex;
    flex-direction: column;
    // padding: 0 1.5dvw;
    width: 50%;
}

.stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1dvw;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 6dvw;
    height: 6dvw;
    border-radius: 50%;
    
    & p {
        text-align: center;
        font-size: 0.7rem;
        font-weight: 500;
        margin: 0;
    }
}

.stat-item1 {
    background-color: #4D4CAC;
}

.stat-item2 {
    background-color: #9698D6;
}

.stat-item3 {
    background-color: #FF808B;
}
