
.DBContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.dashboardHeader {
   margin-bottom: 3dvw;
   width: 100%;
}

.DBHeaderContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   position: relative;
}

.imageElement {
   position: absolute;
   //width: 25dvw;
   top: 0;
   right: 50px;
   height: 210px;
   transform: translateY(-40%);
}

.imageElement img {
   height: 100%;
   width: auto;
}

.textElement {
   background-color: #9698d6;
   padding: 3dvw;
   border-radius: 1dvw;
   color: #fff;
   flex-grow: 1;
}

