// body {
//    width: 100dvw;
// }
.DBHeaderContainer {
   display: flex;
   flex-direction: row;
   //justify-content: space-between;
   align-items: flex-end;
   position: relative;
   margin-bottom: 2dvw;
}

.DBContainer {
   display: flex !important;
   flex-direction: row !important;
   justify-content: space-between !important;
}

.imageElement {
   position: absolute;
   //width: 25dvw;
   //top: 0;
   right: 70px;
   //height: 150px;

}

.textElement {
   background-color: #9698d6;
   padding: 3dvw;
   padding-right: 35dvw;
   border-radius: 1dvw;
   color: #fff;

}

