.publicHeader {
    background-color: #f9de4e;
    margin:0px;
    padding-inline: 120px;
    padding-block-start: 100px;
    position: relative;
}

nav {
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    
}

.extraPadding {
    padding-bottom:150px;
}

h1 {
    font-size:48px;
    font-weight: 900;
    text-transform: uppercase;
}

menu {
    display:flex;
    justify-content: flex-start;
    flex-grow: 1;
    column-gap: 20px;
}

a {
    color:black;
    text-decoration: none;
}

li {
    list-style-type: none;
    font-size:20px;
    font-weight:600;
    border: solid 1px transparent;
    padding:5px;
}

.active {
    border: solid 1px black;
    padding:5px;
}

button {
    font-size:20px;
    font-weight:600;
    border:white;
    background:white;
    border-radius:10px;
    padding-block:10px;
    padding-inline:15px;
    margin-inline-end: 40px;
}

button:last-of-type {
    font-size:20px;
    font-weight:600;
    border:none;
    background:none;
}


.hero {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:80px;
}

p {
    font-size: 65px;
    font-weight:900;
}

svg {
    position:absolute;
    bottom:0;
}