@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  background-color: #F5F5FB;
  font-family: Inter;
  font-weight: 200;
  width: 100%;
}

.dashboard-main-container {
  padding: 2dvw;
  flex-grow: 1;
  display: block;
  width: 80%;
}

.stats, .LastInvoices, .LastContacts, .LastCompanies, .invoices, .companies, .contacts {
  background-color: #fff;
  border-radius: 1dvw;
  padding: 2dvw;
  margin-bottom: 3dvw;
}
.stats h3, .LastInvoices h3, .LastContacts h3, .LastCompanies h3, .invoices h3, .companies h3, .contacts h3 {
  margin: 0.5dvw;
  margin-top: 0;
  border-bottom: 2px solid #E0E0E0;
}
.stats th, .LastInvoices th, .LastContacts th, .LastCompanies th, .invoices th, .companies th, .contacts th {
  padding-right: 1.5dvw;
  font-size: 0.8rem;
  text-align: left;
}
.stats td, .LastInvoices td, .LastContacts td, .LastCompanies td, .invoices td, .companies td, .contacts td {
  font-size: 0.7rem;
  padding-right: 1.5dvw;
  font-weight: 300;
}

.stats {
  height: -moz-fit-content;
  height: fit-content;
}

.sections {
  display: flex;
  justify-content: space-between;
  gap: 3dvw;
  padding: 0;
  width: 100%;
}

.sections-fragment {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.stat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1dvw;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 6dvw;
  height: 6dvw;
  border-radius: 50%;
}
.stat-item p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
}

.stat-item1 {
  background-color: #4D4CAC;
}

.stat-item2 {
  background-color: #9698D6;
}

.stat-item3 {
  background-color: #FF808B;
}

.DBContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dashboardHeader {
  margin-bottom: 3dvw;
  width: 100%;
}

.DBHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.imageElement {
  position: absolute;
  top: 0;
  right: 50px;
  height: 210px;
  transform: translateY(-40%);
}

.imageElement img {
  height: 100%;
  width: auto;
}

.textElement {
  background-color: #9698d6;
  padding: 3dvw;
  border-radius: 1dvw;
  color: #fff;
  flex-grow: 1;
}

.DBNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  background-color: #fff;
  padding-right: 3dvw;
  padding-top: 3dvw;
  width: 20dvw;
}

.DBUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-bottom: 1.5px solid #E0E0E0;
  padding-left: 3dvw;
}
.DBUserh3 {
  font-weight: 600;
  text-wrap: wrap;
}

.userImage {
  border-radius: 50%;
  width: 8dvw;
}

.DBMenu {
  padding-left: 3dvw;
}

.DBNavButton {
  background-color: transparent;
  border: none;
}

.DBNavButton:hover {
  color: #9698D6;
}

.imgMenu {
  width: 20px;
}

.DBNavElement {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DBLogout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1.5px solid #E0E0E0;
  padding-top: 3dvw;
  padding-left: 3dvw;
  padding-bottom: 3dvw;
}
.DBLogout .DBNavButton {
  color: #9698D6;
  font-weight: 250;
}

.userImageLogout {
  border-radius: 50%;
  width: 4dvw;
}

.invoice-list h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.newElement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.AddButton {
  color: #fff;
  background-color: #9698d6;
  border-radius: 1dvw;
  margin: 0 auto 2dvw;
}

.newElement input {
  background-color: #fff;
  border: none;
  border-radius: 1dvw;
  margin-bottom: 2dvw;
  height: 4dvw;
  padding-left: 2dvw;
}
.newElement button {
  background-color: #9698d6;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */