.stats {
    background-color: #fff;
    border-radius: 3dvw;
    width: 25dvw;
    padding: 1dvw;
}

.stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.stat-item {
    background-color: #9698D6;
    color: #fff;
}
